[submodule "components/texmf.base"]
	path = components/texmf.base
	url = git@fykos.cz:texmf.git
[submodule "components/texmf.fonts"]
	path = components/texmf.fonts
	url = git@fykos.cz:texmf.fonts.git
